---
import SEO_Meta from "../../components/SEO_Meta.astro";

const { frontmatter } = Astro.props;
---

<html>
  <head>
    <SEO_Meta frontmatter={frontmatter} />

    <title>{frontmatter.title}</title>
  </head>

  <body>
    <main>
      <div>
        <span> 🕙 Updated {frontmatter.updated}</span>
      </div>
      <slot />
    </main>
    <style>
      main {
        width: 70%;
        margin: 0 auto;
        padding: 4px 8px;
      }
    </style>
  </body>
</html>
