---
import Navbar from '@components/Navbar.astro';
const { Paths, FeaturedArticles } = Astro.props;
const title = `${Paths[1].charAt(0).toUpperCase() + Paths[1].slice(1)} | ${Paths[0].charAt(0).toUpperCase() + Paths[0].slice(1)}`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <div class="wrapper">
      <h1>Featured on {Paths[0]}</h1>
      <ol>
        {
          FeaturedArticles.map((link) => (
            <li>
              <a href={link.url}>
                <div class="link-card">
                  {link.url.split('/').pop().replace(/-/g, ' ')}
                </div>
              </a>
            </li>
          ))
        }
      </ol>
    </div>
  </body>
</html>

<style>
  h1 {
    color: rgb(5, 64, 60);
  }
  .wrapper {
    padding: 2rem;
  }
  ol {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    padding-left: 0;
  }

  li {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
  .link-card {
    /* height: 120px;
    width: 240px; */
    /* background-color: green; */
    border-radius: 8px;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-family: Montserrat, sans-serif;
    color: white;
    background: rgb(17, 177, 167);
  }
  a,
  a:visited {
    text-decoration: none;
  }
</style>
