---
import Navbar from "../../components/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
  </head>
  <body>
    <Navbar />
    <ol>
      <li><a href="/hardware"></a>hardware</li>
      <li><a href="/travel"></a>travel</li>
    </ol>
  </body>
</html>
