---
import Navbar from "@components/Navbar.astro";
const current_url = Astro.url + "/";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
  </head>
  <body>
    <Navbar />
    <ol>
      <li><a href={new URL("hardware", current_url)}>hardware</a></li>
      <li><a href={new URL("travel", current_url)}>travel</a></li>
    </ol>
  </body>
</html>
