---
import Navbar from "../../components/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
  </head>
  <body>
    <Navbar />
    <ol>
      <li><a href="blog/hardware">hardware</a></li>
      <li><a href="blog/travel">travel</a></li>
    </ol>
  </body>
</html>
