---
import Navbar from "@components/Navbar.astro";
const current_url = Astro.url + "/";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog | Travel</title>
  </head>
  <body>
    <Navbar />
    <h1>Featured</h1>
    <a href={new URL("kenya-to-ethiopia-by-bus", current_url)}
      >Kenya to Ethiopia by bus</a
    >
  </body>
</html>
