<footer>
  <div class="socials">
    <a target="_blank" href="https://twitter.com/gmaina_">
      <i class="fa-brands fa-x-twitter"> </i>
    </a>
    <a target="_blank" href="https://linkedin.com/in/gideonmaina">
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a target="_blank" href="https://www.youtube.com/@gideon_maina">
      <i class="fa-brands fa-youtube"></i>
    </a>
  </div>
  <style>
    footer {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      padding: 4rem 0;
      background-color: rgba(219, 228, 228, 0.979);
    }

    .socials {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }
    i {
      font-size: 32px;
      color: #11d0c6;
    }

    a,
    a:visited {
      text-decoration: none;
    }
  </style>
</footer>
