---
import Navbar from "@components/Navbar.astro";
const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog | Hardware</title>
  </head>
  <body>
    <Navbar />
    <h1>Featured</h1>
    <a href={currentPath + "/sim-issues-on-simcom-gsm-chips"}
      >sim issues on simcom gsm chips</a
    >
  </body>
</html>
